/*
Theme Name:   Draft UnderStrap Child
Theme URI:    https://www.understrap.com
Description:  Draft Child Theme for UnderStrap
Author:       Holger Koenemann
Author URI:   https://understrap.com
Template:     understrap
Version:      0.2.0
License:      Commercial
Text Domain:  wpml_theme
Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
*/


/* FONTS ETC */

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700'); 

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');



@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');


/* -------------------------------------------------------------------------------- */
/*	0. fonts
/* -------------------------------------------------------------------------------- */

.body {
    overflow: auto;
	font-family: 'Roboto', sans-serif;
}




/*------- test hintergrund lydia -------*/

/*

.bg-wrapper {
	
	background-image:url("https://blumenbinder.minable.ch/wp-content/uploads/2017/11/kohlblat.jpg;")
}

*/


/*----- navigation startseite -----*/


.abschnitt-title h1 {


	font-family: 'Marcellus SC', serif;
	font-weight:400;
    letter-spacing: 1.5px;
    font-size: 1.7em;		/*lydia*/
    color: white;
    line-height:38px;
    margin-bottom: 30px;
	margin-bottom: 25px;	/*lydia*/
	text-decoration: none;

}



.menu{
	margin-bottom: 50px;
}



.abschnitt-menu, .menu-overlay {
	font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:1em;
    letter-spacing:3px;
}

.menu-overlay {
	font-size: 1.1em;
}

.menu-mobile-container a {
    color: black;
}

.menu-item-has-children {
    display: block;
    line-height: 3;
}

.menu-item-has-children > a::after {
    content: " \f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /* color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0; */
}

.menu-item-has-children > a.down::after {
    content: " \f0d8";
}

.sub-menu {
    margin-bottom: 30px;
    text-align: left;
}

.sub-menu li {
    display: block; /* set to block */
}



.menu li a{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight:400;
	letter-spacing:1.6px;
	color: white;
}


.menu .current-menu-item a{

/*text-decoration:underline;*/
/*background-color: rgba(255, 255, 255, 0.5);
color: rgb(63, 11, 11);
color:white;
padding:2px;*/

}







.menu .current-menu-item a::before{
	content: "▸ ";
}

.menu .menu-item-home a::before{
	content: none;
}

a:focus, a:hover {
    text-decoration: none;
	color: rgb(63, 11, 11);
}


.entry-content {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	color: rgb(63, 11, 11);
	letter-spacing:0.5px;
	/*word-spacing:0.5px;*/
	line-height:32px;
	/*font-size: inherit!important;*/
	font-size: 1em;
	/*padding-bottom: 150px;	/*damit text nicht abgeschnitten wird - lydia*/
}

.entry-content a {
	font-weight: bold;
}

.entry-content a {
	position:  relative;
	z-index: 999999;
}


.page p, .page h2 {
    color: white;
	color: rgb(63, 11, 11);
	
}

h2, h3, h4 {


	font-family: 'Roboto', sans-serif;
	font-weight:700;
	font-size: 1.1em;
	letter-spacing:0.5px;

	
}


h1 {

	font-family: 'Roboto', sans-serif;
	font-weight:400;
	/*text-transform:uppercase;*/
	font-size: 1.3em;
	letter-spacing:0.5px;
	color: white;
	color: rgb(63, 11, 11);
	margin-bottom:53px;
	margin-bottom:40px;
	/*text-decoration:underline;*/

}



h2 {
    font-size: 1.3em;
	/*margin-bottom:23px;*/

}


h3 {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	font-size: 1em;
	letter-spacing:0.5px;

}

/*

h2::first-letter{
		font-size:1.6em;
		font-weight:400;
	}
*/








h2.entry-title{
	font-family: 'Marcellus SC', serif;
	font-size:1.5em; /*lydia*/
	font-weight:400;
	letter-spacing:1.5px; /*lydia*/
	line-height:38px; /*lydia*/
	margin-bottom: 25px; /*lydia*/
	color:white;
}


/* Overrides */

a, a:hover, a:active {
	color: rgb(63, 11, 11);
    text-decoration: none;
	font-weight:400;
	
}

.bg-primary {
    background-color: white !important;
}

.edit-link {
    display: none;
}

article {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wrapper {
    padding-bottom: 0;
}

img.wp-post-image {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.p-fix {
    margin-top: 50px;
    margin-bottom: 30px;    
}

.fit-img-right {
    padding-left: 0!important;
    padding-right: 0!important;
}

.fit-img-left {
    padding-left: 0!important;
    padding-right: 0!important;    
}

.fit-img-left img, .fit-img-right img {
    width: 50vw;
    width: calc(50vw - 0px); /* vw w/ scroll bars? */
    max-width: none;
}

@media screen and (max-width: 768px) {
    .fit-img-left img, .fit-img-right img {
        width: 100%;
    }
    .fit-img-left img {
        margin-left: 0px;
    }
}

.fit-img-1st-child {
    margin-top: -80px;
}

.entry-content-top-fix {
    margin-top: 130px;
}

@media screen and (max-width: 768px) {
    .fit-img img {
        width: 100%;
    }
	.content-right.fit-img-1st-child {
		margin-top: 0;
	}
}

/* Front page */

.sm-icons-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 165px;
    height: 20px;
}

.fb, .insta {
    float: left;
    width: 20px;
    margin-right: 15px;
}

.button-container {
    position: absolute;
    top: 20%;
    right: 10%;
}

.language-switcher {
    /* display: none; */
    float: left;
    margin-left: 30px;
    color: white;
    font-size: larger;
}

.language-switcher a {
    color: darkgrey;
}

.language-switcher a:hover {
    color: white;
}



.button {
    width: 110px;
    height: 110px;
    margin-bottom: 25px;
    font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-radius: 50%;
    text-align: center;
}

.news-button {
    /* color: #FCF8EC; */
    background-color: rgb(215, 191, 143);
    background-color: rgba(233, 200, 134, 0.7);
    padding-top: 40px;
}

.offene-stellen-button {
    /* color: #FCF8EC; */
    background-color: rgb(212, 116, 212);
    background-color: rgba(212, 116, 212, 0.7);
    padding-top: 25px;
}

.arrow-wrapper-home .arrow{
    position: absolute;
    width: 1px;
    left: 50%;
    margin-left: -2px;
    border: 1px solid white;


}

.arrow-wrapper-home .arrow-1 {
    height: 10%;
}

.arrow-wrapper-home .arrow-2-shaft {
    top: 65%;
    width: 15px;
    height: 15px;
    margin-left: -7.5px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: none;
}

.arrow-wrapper-home .arrow-2 {
    height: 41%;
    height: calc(70% - 130px);
    top: 20.5%;
    top: calc(15% + 35px);
}

.arrow-wrapper-home .arrow-3-shaft {
    bottom: 15%;
    width: 15px;
    height: 15px;
    margin-left: -7.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: none;
}

.arrow-wrapper-home .arrow-3 {
    height: 40px;
    bottom: 0;
}

.arrow-wrapper-home .arrow-3-head {
    width: 12px;
    height: 12px;
    margin-left: -6px;
    bottom: 0;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
    border-top: none;
    border-left: none;
    display: none;
}


/* Sub Pages */

.sm-icons-wrapper-sub {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    margin-left: 10px;
}

.arrow-wrapper-sub .arrow {
    position: fixed;
    width: 1px;
    margin-left: -2px;
    border: 1px solid white;
	border:1px solid rgb(255, 252, 239);
    z-index: 999;
}


.arrow-wrapper-sub .arrow-1 {
    top: 0px;
    left: 50%;
    height: 65px;
}

.arrow-wrapper-sub .arrow-2 {
    top: 123px;
    left: 50%;
    height: calc(100% - 123px - 235px);
}

.arrow-wrapper-sub .arrow-3-shaft {
    bottom: 10px;
    left: 50%;
    width: 15px;
    margin-left: -8.5px;
}

.arrow-wrapper-sub .arrow-3 {
    bottom: 0px;
    left: 50%;
    height: 50px;
}

.arrow-wrapper-sub .arrow-3-head {
    width: 12px;
    height: 12px;
    margin-left: -7.5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
    border-right: none;
    border-bottom: none;
    left: 50%;
    bottom: 32px;
}

.abschnitt {
    position: relative;
}


.abschnitt-title {
    position: absolute;
    bottom: 20px;
}

.abschnitt-logo {
    bottom: 80px;
}

.abschnitt-logo a {
    margin-right: 0;
}

.abschnitt-logo img {
    width: 250px;
}

.abschnitt-menu {
    overflow: auto;
}

.menu {
    padding: 0;
}

.menu-item {
    padding-right: 15px;
    float: none;
}

#menu-mobile .menu-item {
	padding-right: 0;
}

abschnitt .menu-overlay-wrapper {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

.entry-header .menu-overlay-wrapper {
    position: fixed;
    top: 80px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    z-index: 9000;
}

.main-menu-bars {
    color: white;
	color: rgb(255, 252, 239);
}

.abschnitt .main-menu-bars {
    top: 12.5%;
    height: 35px;
}

.main-menu-bars, .menu-overlay {
    width: 50%;
    min-width: 250px;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #menu-mobile a, #menu-mobile-1 a, #menu-mobile-2 a, #menu-mobile-3 a, #menu-mobile-4 a {
        color: black;
    }
    .main-menu-bars, .menu-overlay {
        width: 100%;
        left: 0;
        margin-left: 0;
    } 
    .sub-menu {
        text-align: center;
		padding-left: 0;
    }
}


.menu-overlay {
    z-index: 9999;
}

.abschnitt .menu-overlay {
    top: calc(12.5% + 35px);
}

.entry-header .menu-overlay {
    position: fixed;
    top: 114px;
}

.menu-visible {
    background: rgb(211,211,211);
    background: rgba(211,211,211,.9);
	background: rgba(255, 252, 239,.9);
    z-index: 9000;
}

#menu-hauptmenue .menu-item {
    display: block;
    padding: 0;
    line-height: 75px;
} 

#menu-hauptmenue .menu-item a {
    color: black;
}

.sub-nav {
    margin: auto;
}

.sub-nav a {
    color: brown;
}

/*
#menu-das-angebot li:first-child {
    margin-left: 40px;
}

#menu-der-e-shop li:first-child {
    margin-left: 14px;
}

#menu-die-kunst li:first-child {
    margin-left: 4px;
}

#menu-der-laden li:first-child {
    margin-left: 35px;
}
*/

/* css helpers */
.no-padding {
    padding: 0;
}

.push-left {
    margin-left: 50px;
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
}



/* background setup */
.background {    
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    height:100%;
    /* overflow:hidden; */
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}
.content-b {
    overflow: auto;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    /*	display:table-cell; /* fix for menu below title */
    /*    position:relative; */
    vertical-align:middle;
    text-align:center;
    width: 100%;
}

/* Sub Page */

.bg-wrapper {
    /*-webkit-filter: brightness(30%);	*/						/*lydia*/
     /*filter: brightness(30%);*/
}


/* Breaks position fixed in Firefox
#content {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
} */

.entry-title, .entry-nav {
    text-align: center;
}

.entry-title {
    margin-top: calc(50vh - 210px);
}

.entry-footer {
	font-size: 1em;
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 50%;
    margin-left: -300px;
    width: 100%;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(0,0,0,0), rgba(0,0,0,.4), rgba(0,0,0,1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4), rgba(0,0,0,1)); /* Standard syntax */
}

@media screen and (max-width: 768px) {
    .entry-header {
        position: fixed;
        z-index: 9999;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,1)); 
    }
    .entry-title { margin-top: 15px; }
    .entry-header .menu-overlay-wrapper { top: 88px; }
    .entry-header .menu-overlay { top: 122px; }
}

.entry-nav a {
    /* color: black; */
}

.content-wrapper-wrapper {
    /* margin-top: 50px; */
    /* margin-bottom: 33vh; */
}

.content-wrapper {

}

.sub-page-content-nav {

}

.sub-page-content-nav .prev {

}

.sub-page-content-nav .next {

}

/* News */

.arrow-down {
    position: fixed;
    right: 45px;
    bottom: 20%;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #FCF8EC;
    border-right: 1px solid #FCF8EC;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Products */

.products {
    margin-bottom: 33vh;
}


/* visual styles 
body {
margin:0;
font-family: 'Ubuntu', sans-serif;
font-size:28px;
line-height:100px;
color:#ffffff;
text-align:center;
} */
section {
    background:#9ed100;
}
.not-fullscreen {
    height:50%;
}

/* Shop Pages */
.product {
    clear: both;
}

.product .images {
    float: left;
    margin-right: 40px;
}

.product input {
    width: 200px;
}