// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
@import url('https://fonts.googleapis.com/css?family=Arimo');
// Typo
$line-height-base: 1.6 ;
$font-family-sans-serif: "Arimo", "Helvetica Neue", Arial, sans-serif ;

//colors
$white: #ffffff;
$blue : $white; //#00a9e0
$gray:  $white; //#52595e
$body-color:    $gray;

// spacings
$grid-gutter-width-base:     80px;
$spacer:   3rem ;


// Headlines
$font-size-h1: 4rem ;
$font-size-h2: 3rem ;
$font-size-h3: 1.75rem ;
$font-size-h4: 1.5rem ;
$font-size-h5: 1.25rem ;
$font-size-h6: 1rem ;

$headings-font-weight:   400 ;

// container max size
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) ;